# Docker
COMPOSE_PROJECT_NAME=mp-dev

# Node
NODE_ENV=development
PORT=3000

# Moleculer
NAMESPACE=mp
LOGGER=true
LOGLEVEL=info
TRANSPORTER=nats://nats:4222
CACHER=redis://redis
SERVICEDIR=services

# Elastic
ELASTIC_HOST=elasticsearch
ELASTIC_AUTH=
ELASTIC_PROTOCOL=http
ELASTIC_PORT=9200
ELASTIC_LOG=info
ELASTIC_VERSION=6.x

SCROLL_LIMIT=1000

# Other
JWT_SECRET=akjshgbiuyt^tiuyghkjshgkj
ELASTIC_UPDATE_LIMIT=999

# Basic Auth
AUTH_BASEURL=https://dev.appm.knawat.io
BASIC_USER=aaa
BASIC_PASS=bbb

# More Tokens
OMS_BASEURL=OMS_URL
OPENEXCHANGE_TOKEN=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=fox-dev
MONGO_URI=mongodb://appuser:apppass@mongodb:27017/mp

# Subscription cron time
SUBSCRIPTION_CRON=0 */1 * * * *

# Subscription account payment
SUBSCRIPTION_LEDGER_ACCOUNT_ID=

# Zoho CRM
CRM_REFRESH_TOKEN=
ZOHO_ACCOUNTS_URL=https://accounts.zoho.com
ZOHO_CRM_URL=https://www.zohoapis.com
ZOHO_CLIENTT_ID=
ZOHO_CLIENT_SECRET=
IS_SALES_TAX_INCLUSIVE=1
IS_SUB_TAX_INCLUSIVE=0

# EMAILS
MAIL_KEY=
MAIL_DOMAIN=
MP_MAIL=
TAX_MISSING_MAIL=
