NAMESPACE=mp
NODE_ENV=development
LOGGER=true
LOGLEVEL=info
TRANSPORTER=tcp
CACHER=memory
ELASTIC_HOST=dev.elastic.knawat.io
ELASTIC_AUTH=
ELASTIC_PORT=9200
SERVICEDIR=services
JWT_SECRET=akjshgbiuyt^tiuyghkjshgkj
KLAYER_URL=https://dev.api.knawat.com
KLAYER_TOKEN=dbbf3cb7-f7ad-46ce-bee3-4fd7477951c4
