.DS_Store
node_modules/
coverage/
npm-debug.log
stats.json
yarn-error.log
data/
acme.json
.env
deployDev.sh
*.js
*.js.map
currency.db
openapi.json
!private/importedProductsMigration/*.js
build
openapi-private.json
gcp-key.json
!webpack.*

# public filter
public/*
!public/.gitkeep