:root
  --orange: #F49342
  --red: #DE3618
  --green: #50B83C
  --yellow: #ffc107
  --blue: #006FBB
  --cyan: #006FBB
  --black: hsl(208, 30%, 0)
  --dark: hsl(208, 30%, 35%)
  --slategray: hsl(208, 30%, 70%)
  --gray: hsl(208, 30%, 80%)
  --lightgray: hsl(0, 0, 93%)
  --light: hsl(0, 0, 93%)
  --white: #ffffff
  --white-alpha: alpha(#ffffff, 50%)
  --color-shimmer: #dae7f2
  --color-shimmer-alpha: alpha(#dae7f2, 0)
  --color-primary: hsl(22, 95%, 55%)
  --color-shadow: hsla(208, 30%, 35%, 30%)

// brand colors
$orange = var(--orange)
$red = var(--red)
$green = var(--green)
$yellow = var(--yellow)
$blue = var(--blue)
$cyan = var(--cyan)

// grayscale
$black = var(--black)
$dark = var(--dark)
$slategray = var(--slategray)
$gray = var(--gray)
$lightgray = var(--lightgray)
$light = var(--light)
$white = var(--white)
$white-alpha = var(--white-alpha)
$color-shimmer = var(--color-shimmer)
$color-shimmer-alpha = var(--color-shimmer-alpha)
$color-primary = var(--color-primary)
$color-shadow = var(--color-shadow)
