// brand colors
$orange = #F49342
$red = #DE3618
$redOrange = hsl(10, 87%, 59%)
$green = #50B83C
$yellow = #ffc107
$blue = #006FBB
$cyan = #47C1BF
// grayscale
$black = hsl(208, 30%, 0)
$dark = hsl(208, 30%, 35%)
$slategray = hsl(208, 30%, 70%)
$gray = hsl(208, 30%, 80%)
$lightgray = hsl(0, 0, 93%)
$light = hsl(208, 30%, 97%)
$white = hsl(208, 30%, 100%)
$shimmerColor = #dae7f2
$shadow = 1px 1px 10px alpha($dark, 20%), inset 1px 1px 2px alpha($white, 90%)
$shadow-lg = 1px 1px 15px alpha($dark, 25%), inset 1px 1px 2px alpha($white, 90%)
$primary = hsl(22, 95%, 55%)