.text-loader
  display: block
  margin-bottom: 10px
  max-width: 300px
  width: 90%
  height: 1em
  border-radius: 2px
  background: linear-gradient(to right, $color-shimmer-alpha 0, $color-shimmer 30%, $color-shimmer 70%, $color-shimmer-alpha 100%)
  background-color: $light
  background-size: 200px 100%
  background-repeat: no-repeat
  animation: loader-shimmer 1.5s linear infinite forwards

  + .text-loader
    max-width: 150px
    width: 70%

@keyframes loader-shimmer
  0%
    background-position-x: -200px

  100%
    background-position-x: 600px
