.spinner
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 1000
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box
  height: 100vh
  text-align: center

.spinner:before
  box-sizing: border-box
  width: 70px
  height: 70px
  border-width: 8px
  border-style: solid
  border-color: $color-primary $gray $gray
  border-radius: 100%
  content: ''
  animation: rotation 0.7s infinite ease

@keyframes rotation
  from
    transform: rotate(0)

  to
    transform: rotate(359deg)