# Docker
COMPOSE_PROJECT_NAME=mp

# Node
NODE_ENV=production
PORT=3000

# Moleculer
NAMESPACE=mp
LOGGER=true
LOGLEVEL=warn
TRANSPORTER=nats://nats:4222
CACHER=redis://redis
SERVICEDIR=services

# Elastic
ELASTIC_HOST=elasticsearch
ELASTIC_AUTH=USERNAME:PASSWORD
ELASTIC_PROTOCOL=http
ELASTIC_PORT=9200
ELASTIC_LOG=warning

# Klayer
KLAYER_URL=https://api.knawat.io
KLAYER_TOKEN=dbbf3cb7-f7ad-46ce-bee3-4fd7477951c4

# Other
JWT_SECRET=Phkjgidsungugnt&T(hogjhk)
ELASTIC_UPDATE_LIMIT=999

#AgileCRM
AGILECRM_DOMAIN=testknawat
AGILECRM_KEY=xxxxxXXXXXXXXXXxxxxx
AGILECRM_EMAIL=test@knawat.com
