NAMESPACE=mp
NODE_ENV=production
LOGGER=true
LOGLEVEL=warn
TRANSPORTER=nats://nats:4222
CACHER=redis://redis
ELASTIC_HOST=elastic.knawat.io
ELASTIC_AUTH=USERNAME:PASSWORD
ELASTIC_PORT=9200
SERVICEDIR=services
JWT_SECRET=Phkjgidsungugnt&T(hogjhk)
